.blogs-list-container {
    font-family: 'accent';
    text-align: center;
    background-color: #f5f7f8;
    margin-top: 50px;
    padding: 35px 0 50px;

    .title {
        margin-bottom: 35px;
    }
}